*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #D0ECE7;
}
#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 20px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 25%;
    height: 100vh;
    background: rgb(44, 62, 80, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.menu a:hover{
    background: rgba(255, 255, 255, 0.3);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}
header .container{
    display: table;
}
.speed{
    padding: 8rem;
    background: #D0ECE7;
}
header{
    background:#2c3e50;
    color:white;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.container{
width: 98%;
margin: auto;
}

h1{
    float: left;
}
.main{
    background:#D0ECE7;
    color:#000;
    padding-top: 8rem;
}
article{
   background: #D0ECE7;
}
aside{
    background: #D0ECE7;
    color: black;
}
footer{
    background: #AED6F1;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
    color: white;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #333;
    text-decoration: none;
}
@media only screen and (max-width: 767px){
    .menu{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgb(44, 62, 80, 0.9);
        transition: all 0.5s;
        transform: translateX(-100%);
    }
}








    
